boto3==1.9.219
botocore==1.12.219
s3transfer==0.2.1
six==1.12.0
text-unidecode==1.2
urllib3==1.25.3
xmltodict==0.12.0
certifi==2019.6.16
chardet==3.0.4
docutils==0.14
Faker==2.0.0
idna==2.8
ipaddress==1.0.22
jmespath==0.9.4
lxml==4.4.0
pandas==0.24.2
psycopg2==2.7.6.1
pycrypto==2.6.1
pydash==4.7.5
pycrypto==2.6.1
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
requests-mock==1.5.2
s3transfer==0.2.1
six==1.12.0
text-unidecode==1.2
urllib3==1.25.3
requests-mock==1.5.2
pandas==0.24.2
kafka-python==1.4.7
python-snappy==0.5.4
pyyaml==5.2
